* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_15 {
  width: 606px;
  color: url("../images/v3_15.png");
  position: absolute;
  top: 383px;
  left: 67px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 67px;
  opacity: 1;
  text-align: center;
}
.v3_17 {
  width: 438px;
  height: 464px;
  background: rgba(42,181,217,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 561px;
  border-bottom-left-radius: 224px;
  transform: rotate(-1deg);
  overflow: hidden;
}
.v5_29 {
  width: 438px;
  height: 464px;
  background: rgba(42,181,217,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 561px;
  border-bottom-left-radius: 224px;
  transform: rotate(-1deg);
  overflow: hidden;
}
.v4_19 {
  width: 464px;
  height: 489px;
  background: url("../images/v4_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 534px;
  border-bottom-left-radius: 224px;
  overflow: hidden;
}
.v4_20 {
  width: 632px;
  color: url("../images/v4_20.png");
  position: absolute;
  top: 600px;
  left: 127px;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_25 {
  width: 205px;
  height: 55px;
  background: rgba(0,138,170,1);
  padding: 8px 35px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 783px;
  left: 123px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 10px 6px rgba(0, 0.5411764979362488, 0.6666666865348816, 0.23000000417232513);
  overflow: hidden;
}
.v4_24 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 35px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v4_26 {
  width: 299px;
  height: 55px;
  background: rgba(255,255,255,1);
  padding: 8px 35px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 783px;
  left: 363px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0.5411764979362488, 0.6666666865348816, 0.17000000178813934);
  overflow: hidden;
}
.v4_27 {
  width: 229px;
  color: rgba(0,138,170,1);
  position: absolute;
  top: 8px;
  left: 35px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v9_3 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 86px;
  left: 412px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v15_11 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 87px;
  left: 203px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v14_5 {
  width: 67px;
  color: rgba(209,136,79,1);
  position: absolute;
  top: 85px;
  left: 578px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v14_3 {
  width: 35px;
  height: 35px;
  background: url("../images/v14_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 461px;
  overflow: hidden;
}
.v15_8 {
  width: 35px;
  height: 30px;
  background: rgba(209,136,79,1);
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 631px;
}
.v15_9 {
  width: 35px;
  height: 35px;
  background: url("../images/v15_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 251px;
  overflow: hidden;
}
.v25_3 {
  width: 265px;
  height: 280px;
  background: url("../images/v25_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 100px;
  overflow: hidden;
}
.v3_16 {
  width: 606px;
  color: rgba(59,186,219,1);
  position: absolute;
  top: 255px;
  left: 33px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
